.body {
    background-color: #1cd761;
    padding-left: 25px;
    padding-right: 25px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.top {
    font-size: 35px;
}

.nav-element {
    border: wheat 3px solid;
    border-radius: 15px;
    padding: 10px;
}

.overview {
    
}

.overview-content {
    font-size: 25px;
}

.overview-title {
    font-size: 45px;
    font-weight: bolder;
}

.birthweek{

}

.birthweek-title {
    font-size: 35px;
    margin-bottom: 15px;
}

.birthweek-content {
    font-size: 25px;
}


.releases {

}

.releases-title {
    font-size: 35px;
    margin-bottom: 15px;
}

.releases-content {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
}

.releases-release {
    background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

a {color: wheat}